body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: whitesmoke;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: lightpink;
}

.hdi-label {
  font-size: 16px;
  fill: black;
}
