  
  #header h1 {
    color: #fff;
  }

  #header {
    background-color: lightgreen;
    padding: 20px;
  }

  #chart-container {
    overflow-x: scroll;
      width: 99%;
    }
 
    .linkbutton {
      padding: 10px 20px;
      margin: 10px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      padding-top: 10px;
    }
    
  #chart-title{
    color: #fff;
  }

  #header .linkbutton {
    color: #fff;
  }
  
  #currentyearpicker, #sort-order {
    background-color: #fff;
    padding: 5px 10px;
  }
  