body {
  margin: 0px;
  overflow: hidden;
}

.header {
  background-color: lightgreen;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
  flex: 1;
}

.dropdown {
  margin-left: 10px;
}

.button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#year-picker {
  display: inline-block;
  margin-bottom: 10px;
}

.sphere {
  fill: #D1E5F4;
}

.country {
  stroke: black;
  stroke-width: 0.05px;
}

.country:hover {
  fill: lightpink;
}

.hdi-label {
  padding-top:10px;
  font-size: 25px;
  fill: black;
}
