
.header {
  background-color: lightgreen;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.header h1 {
  flex: 1;
}

body {
  margin: 1px;
}

.linkbutton {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
}

#year-picker {
  display: inline-block;
  margin-bottom: 10px;
}

.sphere {
  fill: #D1E5F4;
}

.country {
  stroke: black;
  stroke-width: 0.1px;
}

.country:hover {
  fill: lightpink;
}

.hdi-label {
  font-size: 25px;
  fill: black;
}
