
  .header h2 {
    flex: 1;
  }

  .header a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    background-color: lightsteelblue;
  }

  #chartarea {
    overflow-x: scroll;
     width: 99%;
    }

  .header {
    background-color: lightblue;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
  }

  .linkbutton {
    margin: 11px;
    padding: 10px 20px;
    background-color: lightsteelblue;
  }
  